{% extends 'base.html' %}

{% block content %}

<h1>Captura</h1>

<ol>
  <li>Verificar productos en Google Sheets -
    <a href="#" class="disabled-link">Captura</a>
  </li>
  <li>Confirmación</li>
  <li>Subir a Shopify</li>
</ol>

<div>
  <h2 id="current-process">1. Verificar Productos</h3>
  <p id="result">Verificando productos...</p>
  <button id="next" class="disabled-button" disabled>Next</button>
</div>

{% endblock %}

{% block scripts %}
<script>
  setTimeout(() => {
    const nextBtn = document.getElementById('next');
    const result = document.getElementById('result');

    if (nextBtn) {
      nextBtn.disabled = false;
      nextBtn.classList.remove('disabled-button');
    }

    if (result) {
      result.textContent = "No se encontró ningún error";
    }
  }, 4000);
</script>
{% endblock %}