{% extends "base.html" %}
{% block content %}

<div class="d-flex align-items-end">
<h1 class="mb-0 me-3">Casa de Luna</h1>
<p class="text-secondary mb-0 fs-5">{{ config['SHOPIFY_STORE'] }}</p>
</div>

<hr>

<div class="row">

  <div class="col-12 col-lg-4 mb-3" id="captura">
    <h2>Captura</h2>

    <div class="list-group">
      <a href="{{ url_for('shop.review_new_products') }}" class="list-group-item list-group-item-action">Publicar nuevos productos y variantes</a>
      <a href="{{ url_for('shop.update_product_quantities') }}" class="list-group-item list-group-item-action">Actualizar cantidades</a>
      <a href="{{ url_for('shop.etiquetas') }}" class="list-group-item list-group-item-action">Imprimir etiquetas</a>
    </div>
  </div>
  
  <div class="col-6 col-lg-4 mb-3" id="administrar">
    <h2>Administrar</h2>
    <div class="list-group">
      <a href="{{ url_for('auth.register_users') }}" class="list-group-item list-group-item-action">Agregar administradores</a>
      <a href="{{ url_for('dashboard.action_log') }}" class="list-group-item list-group-item-action">Ver historial de acciones</a>
    </div>
  </div>

  <div class="col-6 col-lg-4 mb-3" id="otras acciones">
    <h2>Otros</h2>
    <div class="list-group">
      <a href="{{ url_for('shop.products') }}" class="list-group-item list-group-item-action">Productos</a>
      <a href="{{ url_for('shop.vendors') }}" class="list-group-item list-group-item-action">Artesanos</a>
      <a href="#" class="list-group-item list-group-item-action disabled">Reporte de ventas</a>
    </div>
  </div>
</div>


<h2 class="mt-3">Links externos</h2>
<ul>
  <li><a href="https://admin.shopify.com/store/{{ config['SHOPIFY_STORE'] }}/products?selectedView=all" 
    target="_blank" rel="noopener noreferrer">Shopify</a>
  </li>
  {% if config['URL_WORKLOG'] %}
  <li><a href="{{ config['URL_WORKLOG']}}" 
    target="_blank" rel="noopener noreferrer">Work Log</a>
  </li>
  {% endif %}
  {% if config['URL_KANBAN'] %}
  <li><a href="{{ config['URL_KANBAN']}}" 
    target="_blank" rel="noopener noreferrer">Kanban</a>
  </li>
  <li><a href="https://github.com/nemean-dev/cdl-admin">Repository</a></li>
  {% endif %}
</ul>

<h2>Viajes</h2>
<p>links a viajes</p>

<h2>Pedidos</h2>
<p>historial de pedidos</p>

{% endblock %}