<!doctype html>
<html>
    <body>
        <p>Hola {{ user.fname if user.fname else '' }},</p>
        <!-- TODO: verify that the _external=True in url_for is using the correct domain in production. -->
        <p>
            Para restablecer tu contraseña,
            <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
                haz click aquí
            </a>.
        </p>
        <p>O pega la siguiente dirección en el navegador:</p>
        <p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
        <p>No compartas este enlace con nadie.</p>
        <p>Si no solicitaste un cambio de contraseña por favor contacta a un administrador.</p>
        <p>Casa de Luna</p>
    </body>
</html>