<!-- Macro
products_table(products: list[dict], columns:list[str])

Params:
- `products` is list of products where each product is a dict with keys from 
`columns`
  - Variant fields can be inside a `variants` list of dicts or can be directly 
  in the product along with product fields
  - if an errors key is included in the product, then the errors are displayed
  throughout the whole row. 
- `columns` is a list of fileds to be included in the table 
e.g. ['vendor', 'title', 'sku', 'price', 'costHistory']

Possible fields with their respective column names
Product fields
- 'vendor': Proveedor
- 'title': Título
- 'pueblo': Pueblo
- 'estado': Estado
Variant-specific fields
- 'sku': Clave (SKU)
- 'displayName': Título de variante
- 'quantityDelta': Cantidad a Agregar
- 'quantity': Cantidad Actual
- 'cost': Último Costo/Unidad
- 'costHistory': Fecha de Compra
- 'newCost': Nuevo Precio de Compra  #ignored if costHistory is given
- 'price': Precio
- 'newPrice': Nuevo Precio de Venta
-->

<!-- 
products_with_variants_table(products, product_fields, variant_fields)
same as products_table but `products` has variant-specific fields in a list 
under the key `variants`. 

Here, the variant fields need to be listed in aseparate list.

This function does not support errors
-->

{% set cols_dict = {
  'vendor': 'Proveedor',
  'title': 'Título',
  'pueblo': 'Pueblo',
  'estado': 'Estado',

  'sku': 'Clave (SKU)',
  'displayName': 'Título de variante',
  'variantTitle': 'Título de variante',
  'quantityDelta': 'Cantidad a Agregar',
  'quantity': 'Cantidad Actual',
  'cost': 'Costo por unidad',
  'costHistory': 'Historial de Compras',
  'newCost': 'Nuevo Precio de Compra',
  'price': 'Precio',
  'newPrice': 'Nuevo Precio de Venta',
  'quantityAvailable': "Cantidad 'available'",
  'dateOfPurchase': 'Fecha de Compra',

  'rowNum': 'Renglón'
} %}

{% macro unit_cost_td(prod_history) %}
<td>
  {% if prod_history %}
  {% set cost_history = prod_history['jsonValue'] if prod_history.get('jsonValue') else prod_history['value'] %}
  <a href="#" data-bs-toggle="tooltip" data-bs-html="true" 
     data-bs-custom-class="custom-tooltip" 
     title="
       {% for item in cost_history[-3:] %}
         {{ item['fecha de compra'] }}:<br>{{ item['cantidad'] }} a <b>${{ item['costo'] }}</b> cada uno<br>
       {% endfor %}
     ">
     {{ cost_history[-1]['fecha de compra'] | default('NaN') }}
  </a>
  {% endif %}
</td> 
{% endmacro %}

{% macro products_table(products, columns) %}
<table id="product-data" class="table">
  <thead>
    <tr>
      {% for col in columns %}
      {% if cols_dict[col] %}
        <th scope="col">{{ cols_dict[col] }}</th>
      {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if products %}
    {% for prod in products %}
      {% set row_id = 'row' + prod['rowNum'] if prod['rowNum'] else '' %}
    <!-- TODO: remove the prod['error'] != 'none' condition by changing views that send it like this -->
      <tr id="{{ row_id }}" 
        data-bs-toggle="modal" 
        data-bs-target="#modal-{{ row_id }}"
        {% if prod['errors'] and prod['errors'] != 'none' %} 
          class="table-danger clickable-row"
        {% elif prod['warnings'] %}
          class="table-warning clickable-row"
        {% else %}
          class="table-success clickable-row"
        {% endif %}
      > 
        {% for field in columns %}
          {% if field == "costHistory" %}
            {{ unit_cost_td(prod['costHistory']) }}
          {% else %}
            <td>{{ prod[field] }}</td>
          {% endif %}
        {% endfor %}
      </tr>

      <!-- Bootstrap Modal for this product -->
      <div class="modal fade" id="modal-{{ row_id }}" tabindex="-1" aria-labelledby="modalLabel-{{ row_id }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel-{{ row_id }}">Detalles para el renglón {{ prod['rowNum'] }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% if prod['errors'] %}
                <strong class="text-danger">Errores:</strong>
                <ul class="text-danger">
                  {% for message in prod['errors'].split(';') %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              
              {% if prod['warnings'] %}
                <strong class="text-warning">Advertencias:</strong>
                <ul>
                  {% for message in prod['warnings'].split(';') %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              
              {% if prod['info'] %}
                <strong>Info:</strong>
                <ul>
                  {% for message in prod['info'].split(';') %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    {% else %}
      <tr>
        <td colspan="columns|length" class="text-center">No hay datos disponibles</td>
      </tr>
    {% endif %}
  </tbody>
</table>
{% endmacro %}

{% macro products_with_variants_table(products, product_fields, variant_fields) %}
<table id="product-data" class="table">
  <thead>
    <tr>
      {% for col in product_fields %}
      {% if cols_dict[col] %}
        <th scope="col">{{ cols_dict[col] }}</th>
      {% endif %}
      {% endfor %}
      {% for col in variant_fields %}
      {% if cols_dict[col] %}
        <th scope="col">{{ cols_dict[col] }}</th>
      {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if products %}
    {% for prod in products %}
    
    <tr>
      {% for field in product_fields %}
        {% if field != "variants" %}
          <td class="align-middle" rowspan="{{ products['variants'] | length }}">{{ prod[field] }}</td>
        {% endif %}
      {% endfor %}
      
      {% for field in variant_fields %}
      <!-- FIRST VARIANT OF EACH PRODUCT IS IN THE SAME <tr> as the product info -->
        {% if field == "costHistory" %}
          {{ unit_cost_td(prod['variants'][0]['costHistory']) }}
        {% else %}
          <td>{{ prod['variants'][0][field] }}</td>
        {% endif %}
      {% endfor %}
    </tr>

    <!-- REST OF VARIANTS ARE HERE -->
    {% if prod['variants']|length > 1 %}
    {% for variant in prod['variants'][1:] %}
    <tr>
      {% for field in variant_fields %}
        {% if field == "costHistory" %}
          {{ unit_cost_td(prod['costHistory']) }}
        {% else %}
          <td>{{ prod['variants'][0][field] }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}

    {% endfor %}
    {% else %}
    <tr>
      <td colspan="6" class="text-center">No hay datos disponibles</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endmacro %}
