<!-- 
Requires:
- refresh_form: SubmitForm
- confirm_form: SubmitForm 

Optional:
- data: list[dict] Each dict represents a variant. Each variant has an 'error' 
field that is set to 'none' if no errors
- time: timestamp of last refresh
- enable_upload: True if upload button is to be enabled
-->

{% extends 'base.html' %}

{% block content %}
{% if enable_upload %}
{% set enable_button = enable_upload %}
{% else %}
{% set enable_button = False %}
{% endif %}
<h1>Actualizar Cantidades y Precio de Productos</h1>

<h2>Pasos temp: data {{ 'recieved' if data else 'NOT recieved' }}</h2>

<div class="d-flex justify-content-between align-items-end flex-wrap">
  <ol class="mb-1">
    <li>Poner claves (SKUs) que se necesitan actualizar en 
      <a 
        href="https://docs.google.com/spreadsheets/d/1OcvLWV5r_TPK8KOz1C3GkPQNZ7LbM3YiezJNCCM9xXc/edit?gid=0#gid=0" 
        target="_blank" rel="noopener noreferrer"
      >Google Sheets</a>
    </li>
    <li>Click 'Actualizar en Google Sheets' &rarr;</li>
    <li>Verificar que los productos sean correctos</li>
    <li>Click 'Subir a Shopify' &rarr;</li>
  </ol>

  <div class="d-flex flex-column">
    {% if time %}<p class="text-secondary mb-1">Última actualización:<br>{{ time }}</p>{% endif %}
    <div class="d-flex">
      <form action="" method="post" novalidate>
        {{ refresh_form.hidden_tag() }}
        {{ refresh_form.submit(class="btn btn-primary") }}
      </form>

      <form action="{{ url_for('shop.upload_product_quantities')}}" method="post" class="ms-3" novalidate>
        {{ confirm_form.hidden_tag() }}
        {{ confirm_form.submit(class="btn btn-primary", onclick="return confirmAction();")}}
      </form>
    </div>
  </div>
</div>

<hr>

<table id="product-data" class="table">
  <thead>
    <tr>
      <th scope="col">Clave (SKU)</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Título</th>
      <th scope="col">Proveedor</th>
      <th scope="col">Nuevo Precio de Compra</th>
      <th scope="col">Nuevo Precio de Venta</th>
    </tr>
  </thead>
  <tbody>
    {% if data %}
    {% for row in data %}
    
    {% if row['errors'] == 'none' %}
    <tr>
      <td>{{ row['sku'] }} {{ qty }}</td>
      <td>{{ row['quantity'] | default('NaN') }}</td>
      <td>{{ row['displayName'] | default('NaN') }}</td>
      <td>{{ row['vendor'] | default('NaN') }}</td>
      <td>{{ row['newCost'] | default('NaN') }}</td>
      <td>{{ row['newPrice'] | default('NaN') }}</td>
      <td></td>
    </tr>
      
    {% else %}
    <tr class="table-danger">
      <td>{{ row['sku'] }}</td>
      <td colspan="5">{{ row['errors'] }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="6" class="text-center">No hay datos disponibles</td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% endblock %}

{% block scripts %}
<!-- TODO: async script to load data in table when fetched. -->
<script>
  function confirmAction() {
    return confirm('Los productos se subirán a shopify. ¿Estás seguro que deseas proceder?');
  }
</script>
{% endblock %}