{% extends "base.html" %}
{% block content %}

<h2>Acciones</h2>

<ul>
  <li><a href="{{ url_for('captura') }}">Subir productos en captura</a></li>
  <li><a class="disabled-link" href="{{ url_for('etiquetas') }}">Imprimir etiquetas</a></li>
  <li><a class="disabled-link" href="{{ url_for('exportar_productos') }}">Obtener productos por proveedor/estado/etc</a></li>
  <li><a class="disabled-link" href="#">Reporte de ventas</a></li>
</ul>
<a href="{{ url_for('action_log') }}">Ver historial de acciones</a>
<h2>Viajes</h2>
<p>links a viajes</p>
<h2>Pedidos</h2>
<p>historial de pedidos</p>

{% endblock %}