{% extends "base.html" %}
{% block content %}

<div class="d-flex align-items-end">
<h1 class="mb-0 me-3">Casa de Luna</h1>
<p class="text-secondary mb-0 fs-5">{{ config['SHOPIFY_STORE'] }}</p>
</div>

<hr>

<h2>Acciones</h2>

<ul>
  <li><a href="{{ url_for('shop.captura') }}">Subir productos en captura</a></li>
  <li><a href="{{ url_for('shop.update_product_quantities') }}">Actualizar cantidades</a></li>
  <li><a href="{{ url_for('shop.etiquetas') }}">Imprimir etiquetas</a></li>
  <li><a class="disabled-link" href="{{ url_for('shop.exportar_productos') }}">Obtener productos por proveedor/estado/etc</a></li>
  <li><a class="disabled-link" href="#">Reporte de ventas</a></li>
  {% if current_user.is_superadmin %}
  <li><a href="{{ url_for('auth.register_users') }}">Agregar administradores</a></li>
  {% endif %}
</ul>
<a href="{{ url_for('dashboard.action_log') }}">Ver historial de acciones</a>

<h2>Links externos</h2>
<ul>
  <li><a href="https://admin.shopify.com/store/{{ config['SHOPIFY_STORE'] }}/products?selectedView=all">Shopify</a></li>
  {% if config['URL_WORKLOG'] %}
  <li><a href="{{ config['URL_WORKLOG']}}">Work Log</a></li>
  {% endif %}
  {% if config['URL_KANBAN'] %}
  <li><a href="{{ config['URL_KANBAN']}}">Kanban</a></li>
  {% endif %}
</ul>


<h2>Viajes</h2>
<p>links a viajes</p>

<h2>Pedidos</h2>
<p>historial de pedidos</p>

{% endblock %}