{% extends "base.html" %}

{% block content %}
    <h2>Perfil</h1>
    <ul>
        <li>Email: {{ user.email }}</li>
        <li>Nombre: {{ (user.fname or '') + ' ' + (user.lname or '') }}</li>
        {{ endwith }}
        <li>Última visita: {{ user.last_seen }}</li>
    </ul>
    {% if user == current_user %}
        <p><a href="{{ url_for('user_settings') }}">Editar</a></p>
    {% endif %}
    <hr>
    <h2>Acciones</h2>
    {% for action in actions %}
    {% include '_action.html' %}
    {% endfor %}
{% endblock %}